---
import Background from '@components/svgs/Background.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Gon">
	<main>
		<h1>Flavio Gonzalo Oré Chávez</h1>
		<p>I am a computer lover.</p>
		<p>Since my childhood I've worked with computers.</p>
		<p>
			What I remember most about my computer is that it only has 2 GB of RAM and
			it lasted 13 years.
		</p>
		<p>
			Now I am working with a 10 GB RAM computer and a Linux laptop, I am very
			happy with it 😅.
		</p>
		<div>
			<img
				src="https://via.placeholder.com/400x400"
				alt="Flavio Gonzalo Oré Chávez"
			/>
		</div>
		<Background />
		<h2>Skills</h2>
		<ul>
			<li>Web Development</li>
			<li>Linux</li>
			<li>REST APIs</li>
			<li>Git - Workflows</li>
		</ul>
		<h2>Projects</h2>
		<ul>
			<li>
				<section>
					<h3>Snapgram</h3>
					<a href="">
						<img src="https://via.placeholder.com/600x400" alt="Snapgram" />
					</a>
					<p>
						Snapgram is a social network where you share unique moments in your
						life with the world!
					</p>
					<h4>Technologies</h4>
					<ul>
						<li>Library: React</li>
						<li>Tools: TypeScript, Node.js</li>
						<li>UI: Shadcn</li>
						<li>Global State: TankStack Query</li>
						<li>Bundler: Vite</li>
						<li>BaaS: Appwrite</li>
					</ul>
				</section>
			</li>
		</ul>
		<h2>University projects</h2>
		<p>
			Here are some of the projects I've been working on during my college
			years.
		</p>
		<ul>
			<li>
				<section>
					<h3>
						Database Design of the Loan System for the National Library of Peru
					</h3>
					<a href="">
						<img
							src="https://via.placeholder.com/600x400"
							alt="Database Design of the Loan System for the National Library of Peru"
						/>
					</a>
					<p>
						<ul>
							<li>SQL Server</li>
							<li>SQL TSQL</li>
							<li>Database Diagrams and Normalization</li>
						</ul>
					</p>
				</section>
			</li>
		</ul>
		<h2>That's all!</h2>
		<p>
			Thank you for reading my portfolio, I hope you liked it. If you want to
			contact me, you can do it through my email:
			<a href="mailto:pseudominio.go@gmail.com">pseudominio.go@gmail.com</a>
		</p>
		<div>
			<img
				src="https://via.placeholder.com/300x300"
				alt="Flavio Gonzalo Oré Chávez"
			/>
		</div>
		<footer>
			<h3>Happy coding!</h3>
			<p>
				<small>
					© 2021 Flavio Gonzalo Oré Chávez. All rights reserved. Made with ❤️
					in Peru.
				</small>
			</p>
		</footer>

		<style>
			main {
				margin-inline: auto;
				padding: 1rem;
				width: 758px;
				max-width: calc(100% - 2rem);
				font-size: 20px;
				line-height: 1.6;
			}

			h1 {
				font-size: 4rem;
				font-weight: 700;
				line-height: 1;
				text-align: center;
				margin-bottom: 1em;
			}
		</style>
	</main></Layout
>
