---
import Header from '@components/Header.astro'
import DatabaseIcon from '@components/icons/DatabaseIcon.astro'
import MicrosoftIcon from '@components/icons/MicrosoftIcon.astro'
import SQLServerIcon from '@components/icons/SQLServerIcon.astro'
import UniversityIcon from '@components/icons/UniversityIcon.astro'
import Projects from '@components/Projects.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Gon">
	<div
		class="max-w-5xl mx-auto flex flex-col flex-1 items-center justify-center gap-10 py-10 px-5 md:px-8 lg:p-14"
	>
		<section class="flex flex-col justify-evenly gap-8 max-w-2xl">
			<!--TOP -->
			<Header />
			<div class="flex flex-col gap-4 mt-2 text-xl text-pretty">
				<p
					class="dark:[&>strong]:text-blue-200 [&>strong]:text-blue-500 [&>strong]:font-semibold"
				>
					I started programming when I was 14 years old in high school.
					<strong
						>I have been working with computers for as long as I can remember.</strong
					>
				</p>
				<p
					class="dark:[&>strong]:text-red-200 [&>strong]:text-red-500 [&>strong]:font-semibold"
				>
					What I remember most about my computer is that it only <strong>
						2 GB of RAM and it lasted 13 years</strong
					>. Thirteen years of pure windows 7.
				</p>
				<p
					class="dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold"
				>
					Currently, I'm using a computer I never imagined owning, along with a
					Linux laptop. <strong>I'm really enjoying it 😅.</strong>
				</p>
			</div>
		</section>
		<!--Skills -->
		<!-- <section class="bg-slate-400 rounded-lg p-8">
			<h2 class="text-h2 leading-default font-bold tracking-tighter font-inder">
				Skills
			</h2>
			<p class="text-small leading-default">The technologies I'm good at</p>
			<ul
				class="grid grid-cols-2 text-h3 font-bold tracking-tighter leading-default"
			>
				<li>Web Development</li>
				<li>Linux</li>
				<li>REST APIs</li>
				<li class="">Git - Workflows</li>
			</ul>
		</section> -->
		<!--Projects -->
		<Projects />
		<!--University projects -->
		<section class="mt-8">
			<div class="inline-flex
			gap-4
			items-center
			justify-center pl-8">
				<UniversityIcon />
				<h2
					class="text-2xl leading-default font-bold tracking-tight sm:text-4xl font-inder"
				>
					University Projects
				</h2>
			</div>
			<ul class="flex flex-col gap-2 mt-2">
				<li class="mt-4">
					<section
						class="container flex flex-col justify-center rounded-lg p-4"
					>
						<div class="inline-flex justify-between items-center">
							<h3
								class="text-2xl leading-default font-medium tracking-tighter font-inder"
							>
								Database Design and Implementation
							</h3>
							<span
								class="inline-flex items-center justify-center gap-2 text-lg font-bold"
							>
								<DatabaseIcon />National Library of Peru
							</span>
						</div>
						<div
							class="flex flex-col md:flex-row-reverse items-center gap-8 mt-8 md:mt-4"
						>
							<a
								href=""
								class="flex flex-col transition md:hover:scale-110 md:hover:rotate-3"
							>
								<img
									src="https://via.placeholder.com/500x350"
									width="500"
									height="350"
									loading="lazy"
									alt="Snapgram"
									class="rounded-lg"
								/>
							</a>
							<div
								class="flex flex-1 basis-1/2 md:flex-col flex-col-reverse gap-8 items-center justify-center"
							>
								<div class="flex flex-col gap-4 text-pretty text-lg font-inder">
									<p>
										University work whose proposal was not implemented because
										it was carried out for practical purposes but was not
										implemented.
									</p>
									<p
										class="[&>strong]:font-semibold
										[&>strong]:bg-gradient-to-t [&>strong]:from-golden [&>strong]:to-cyan-500 [&>strong]:bg-clip-text text-xl [&>strong]:text-transparent"
									>
										In collaboration with <strong
											>Esteban Eduardo Ruiz Quispe</strong
										> and <strong>Juan Domingo Villanque Echegaray</strong>
									</p>
								</div>
								<ul
									class="flex items-center justify-center gap-6 md:cursor-crosshair group flex-wrap w-full"
								>
									<li
										class="md:group-hover:animate-slide-out-right"
										title="Typescript"
									>
										<SQLServerIcon />
									</li>
									<li
										class="md:group-hover:animate-slide-out-left"
										title="Tailwindcss"
									>
										<MicrosoftIcon />
									</li>
								</ul>
							</div>
						</div>
					</section>
				</li>
			</ul>
		</section>

		<section>
			<div>
				<h2
					class="text-h2 leading-default font-bold tracking-tighter font-inder"
				>
					That's all!
				</h2>
				<p class="text-h3 leading-default tracking-tighter font-inder">
					Thank you for reading my portfolio, I hope you liked it. If you want
					to contact me, you can do it through my email:
					<a href="mailto:pseudominio.go@gmail.com">pseudominio.go@gmail.com</a>
				</p>
			</div>
			<div class="">
				<img
					src="https://via.placeholder.com/500x350"
					alt="Flavio Gonzalo Oré Chávez"
					class="rounded-lg transition rotate-3 aspect-video"
				/>
			</div>
		</section>
		<footer class="bg-slate-500 text-white p-4 rounded-lg text-center">
			<h3
				class="text-body leading-default font-bold tracking-tighter font-inder"
			>
				Happy coding!
			</h3>
			<p>
				<small>
					© 2021 Flavio Gonzalo Oré Chávez. All rights reserved. Made with ❤️
					in Peru.
				</small>
			</p>
		</footer>
	</div>
</Layout>
