<div class="flex flex-col gap-4 mt-2 text-xl text-pretty">
  <p
    class="dark:[&>strong]:text-blue-200 [&>strong]:text-blue-500 [&>strong]:font-semibold"
  >
    I started programming when I was 14 years old in high school.
    <strong
      >I have been working with computers for as long as I can remember.</strong
    >
  </p>
  <p
    class="dark:[&>strong]:text-red-200 [&>strong]:text-red-500 [&>strong]:font-semibold"
  >
    What I remember most about my first computer is that it only had<strong>
      2 GB of RAM and lasted 13 years</strong
    >. Thirteen years of pure windows 7.
  </p>
  <p
    class="dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold"
  >
    So, it is for these reasons that I chose this career, in a question of how
    computers work in depth. <strong>I'm really enjoying it 😅.</strong>
  </p>
</div>
