---
import { LANGUAGES } from "i18n/ui";
import { useTranslations } from "i18n/utils";
import type { Params } from "pages/[...lang].astro";
import LangIcon from "./icons/LangIcon.astro";

const { lang: currentLang } = Astro.params as Params;
const t = useTranslations(currentLang);
---

<ul class="flex gap-x-2 border-yellow-400 px-2 py-1 rounded-md">
  <li
    class="text-md md:text-lg font-semibold text-amber-500 dark:text-amber-200"
  >
    <a
      href={`/${LANGUAGES.en}/`}
      target="_self"
      class:list={[
        "transition-colors hover:text-red-500 dark:hover:text-red-200",
        {
          "text-orange-600 dark:text-orange-400": LANGUAGES.en === currentLang,
          underline: LANGUAGES.en === currentLang,
        },
      ]}
      data-astro-reload
    >
      English
      <span class="sr-only">{t("Changelang.a")}</span>
    </a>
  </li>
  <LangIcon class="fill-orange-600 dark:fill-orange-400 size-6" />
  <li
    class="text-md md:text-lg font-semibold text-amber-500 dark:text-amber-200"
  >
    <a
      href={`/${LANGUAGES.es}/`}
      target="_self"
      class:list={[
        "transition-colors hover:text-red-500 dark:hover:text-red-200",
        {
          "text-orange-600 dark:text-orange-400": LANGUAGES.es === currentLang,
          underline: LANGUAGES.es === currentLang,
        },
      ]}
      data-astro-reload
    >
      Español
      <span class="sr-only">{t("Changelang.a")}</span>
    </a>
  </li>
</ul>
