---
import GithubIcon from "@components/icons/GithubIcon.astro";
import LinkedInIcon from "@components/icons/LinkedInIcon.astro";
---

<header class="flex flex-col md:flex-row justify-around gap-8 md:gap-2 w-full">
  <div class="flex flex-col justify-center items-center">
    <div
      class="flex md:flex-row flex-row-reverse items-center justify-around gap-4"
    >
      <a
        class="relative md:transition-opacity md:hover:opacity-80 md:hover:animate-tada before:absolute before:rounded-full before:content-[''] before:bottom-0 before:right-0 before:size-4 before:bg-sky-500 before:animate-rubber-band before:animate-iteration-count-infinite before:animate-duration-[3000ms]"
        href="https://github.com/Flavio-Ore"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GithubIcon class="size-14" />
        <span class="sr-only">Github</span>
      </a>
      <h1 class="text-3xl font-bold tracking-tight sm:text-4xl text-pretty">
        Flavio Gonzalo Oré Chávez
      </h1>
    </div>
    <h2 class="text-2xl font-medium leading-default tracking-tighter mt-2">
      <div
        class="inline-flex gap-2 sm:gap-10 flex-wrap items-center justify-center"
      >
        <span>Computer Science</span>
        <span>Systems</span>
        <span>Software</span>
      </div>
    </h2>
  </div>
  <a
    href="https://www.linkedin.com/in/flavio-gonzalo-or%C3%A9-ch%C3%A1vez-80b768270/"
    target="_blank"
    rel="noopener noreferrer"
    class="relative md:transition-opacity md:hover:opacity-90 flex flex-col justify-center items-center group"
  >
    <img
      class="aspect-square object-cover rounded-lg rotate-3"
      width={86}
      height={86}
      src="/assets/imgs/photo.jpg"
      alt="Flavio Gonzalo Oré Chávez"
    />
    <LinkedInIcon class="size-6 -mt-2 -rotate-3" />
    <span class="sr-only">LinkedIn</span>
  </a>
</header>
