---
import myPhoto from "assets/photo.avif";
import { Picture } from "astro:assets";
import ChangeLang from "components/ChangeLang.astro";
import EmailIcon from "components/icons/EmailIcon.astro";
import GithubIcon from "components/icons/GithubIcon.astro";
import LinkedInIcon from "components/icons/LinkedInIcon.astro";
import { useTranslations } from "i18n/utils";
import type { Params } from "pages/[...lang].astro";

const { lang } = Astro.params as Params;
const t = useTranslations(lang);
---

<header
  class="flex items-center justify-between gap-y-2 w-full max-w-3xl mx-auto text-dark dark:text-white mb-0 md:mb-10"
>
  <div
    class="flex flex-col gap-y-2 md:gap-y-4 items-center justify-center gap-x-4"
  >
    <div class="inline-flex items-center gap-x-2 mb-1">
      <Picture
        src={myPhoto}
        width={48}
        height={48}
        formats={["avif", "webp"]}
        alt="Photo of Flavio Gonzalo Oré Chávez"
        class="aspect-square object-cover rounded-full"
      />
      <h3
        class="text-md font-normal md:font-semibold text-center sm:text-left sm:text-xl dark:text-amber-200 text-amber-500"
      >
        Flavio Gonzalo Oré
      </h3>
    </div>
    <nav class="w-full flex items-center justify-start gap-x-8">
      <a
        href="https://www.linkedin.com/in/flavio-ore"
        target="_blank"
        rel="noopener noreferrer"
        class="relative md:transition-opacity md:hover:opacity-90 flex flex-col justify-center items-start group"
      >
        <LinkedInIcon class="size-8 md:size-7 md:hover:animate-sway" />
        <span class="sr-only">LinkedIn</span>
      </a>
      <a
        href="mailto:gonzaloorech@gmail.com"
        target="_self"
        rel="noopener noreferrer"
        class="relative md:transition-opacity md:hover:opacity-90 flex flex-col justify-center items-start group"
      >
        <EmailIcon class="size-8 md:size-7 md:hover:animate-sway" />
        <span class="sr-only">{t("header.Email")}</span>
      </a>

      <a
        class="relative md:transition-opacity md:hover:opacity-80 md:hover:animate-tada before:absolute before:rounded-full before:content-[''] before:bottom-0 before:right-0 before:size-2 before:bg-sky-500 before:animate-rubber-band before:animate-iteration-count-infinite before:animate-duration-[3000ms]"
        href="https://github.com/Flavio-Ore"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GithubIcon class="size-8 md:size-7" />
        <span class="sr-only">Github</span>
      </a>
    </nav>
  </div>
  <nav class="self-end">
    <ChangeLang />
  </nav>
</header>
