---
import PortfolioIcon from "@components/icons/PortfolioIcon.astro";
import Snapgram from "@components/projects/Snapgram.astro";
---

<section class="my-8">
  <div class="inline-flex
  gap-4
  items-center
  justify-center pl-8">
    <PortfolioIcon class="size-10" />
    <h2 class="text-2xl leading-default font-bold tracking-tight sm:text-4xl">
      Projects
    </h2>
  </div>
  <ul class="flex flex-col gap-2 mt-2">
    <li class="mt-4">
      <Snapgram />
    </li>
  </ul>
</section>
