<div class="relative tilt transition-tilt will-change-transform">
  <slot />
</div>

<script>
  const cards = Array.from(
    document.querySelectorAll(".tilt") as NodeListOf<HTMLElement>,
  );
  let box, x, y, rotateX, rotateY;

  const throttle = <T extends (...args: any[]) => any>(
    func: T,
    delay: number,
  ): ((...args: Parameters<T>) => void) => {
    let lastCall = 0;
    return (...args: Parameters<T>) => {
      const now = new Date().getTime();
      if (now - lastCall < delay) return;
      lastCall = now;
      return func(...args);
    };
  };

  cards.forEach((card) => {
    card.addEventListener(
      "mousemove",
      throttle((e) => {
        e.preventDefault();
        box = card.getBoundingClientRect();
        x = e.clientX - box.left;
        y = e.clientY - box.top;
        rotateX = (y - box.width / 2) / 6;
        rotateY = (box.height / 2 - x) / 6;
        card.style.transform = `perspective(1000px) rotateX(${rotateX}deg) rotateY(${rotateY}deg) scale3d(1, 1, 1)`;
      }, 100),
    );

    card.addEventListener("mouseleave", () => {
      card.style.transform =
        "perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1) ";
    });
  });
</script>
