---
import "@fontsource-variable/hanken-grotesk";
import "@fontsource-variable/inter";
import "@fontsource/inder";
import { ClientRouter } from "astro:transitions";
import Footer from "components/Footer.astro";
import ToggleDarkLight from "components/ToggleDarkLight.astro";
import SEO from "components/_SEO.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<SEO />
		<ClientRouter />
	</head>
	<body
		class="relative text-dark dark:text-light bg-light dark:bg-dark min-h-screen w-full flow-root px-5 py-8"
	>
		<div
			class="absolute top-0 left-0 z-[-2] h-full w-full bg-[radial-gradient(125%_125%_at_50%_10%,rgba(255,182,32,0.13),rgba(0,163,255,.0)_75%,rgba(25,24,200,.5)_100%)]"
		>
		</div>
		<ToggleDarkLight />
		<slot />
		<Footer />
		<style is:global>
			body {
				font-family: "Hanken Grotesk Variable", "Inter variant", sans-serif;
				transition:
					color 0.2s,
					background-color 0.2s;
				scroll-behavior: smooth;
			}
			@media (prefers-reduced-motion: reduce) {
				html {
					font-family: "Hanken Grotesk Variable", "Inter variant", sans-serif;
					scroll-behavior: auto;
				}
			}
			body::-webkit-scrollbar {
				width: 6px;
				height: 6px;
				border-radius: 2px;
			}

			body::-webkit-scrollbar-track {
				background: none;
			}

			body::-webkit-scrollbar-thumb {
				background: #7373739d;
				border-radius: 50px;
			}

			body::-webkit-scrollbar-thumb:hover {
				background: #4f46e59d;
			}
		</style>
	</body>
</html>
